/* Main Classes */
body {
  font-family: Arial;
  color: #36454f;
  font-size: 14pt;
}

#socialLinks {
  text-align: center;
}

.navbar {
      background: transparent !important; /* NON-IE */
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.7) !important;
}

.maincontent {
  background-color: white;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background-color: rgba(255,255,255,.5) !important;
  }
  main{
    width: 100% !important;
  }
}


.mainheader{
  font-family: Arial;
  font-size: 28pt;
}
