/* Main Classes */
body {
  font-family: Arial;
  color: #36454f;
  font-size: 14pt;
}

.navbar {
  background: transparent !important;
}

.maincontent {
  background-color: white;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background-color: rgba(255,255,255,.5) !important;
  }
  main{
    width: 100% !important;
  }
}


.mainheader{
  font-family: Arial;
  font-size: 28pt;
}
